# Editor cache directories
.vscode
.idea

# CMake intermediates
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Logs and backup files
*.log
*.old
*.bak
*.old.*